.titulo{
    color: crimson;
    text-align: center;
    background-color:aquamarine;
}

.texto{
    font-family: 'Times New Roman', Times, serif;
    font-size: 15pt;
    text-align: justify;
}